body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background-color: #121212;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  z-index: 1000; /* this should fix the weird issue on show-page where the header goes behind the show-banner only to drop in opacity */

  height: 100px;
  padding: 0 40px;
  margin-bottom: 20px;
  top: 0;

  background-color: #1c1c1c;
}

.header-color {
  color: #f19ca3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.navbar h1 {
  color: #ffffff;
  margin: 0;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
  margin-left: 10px;
  transition: 0.3s;
}

.navbar a:hover {
  transform: scale(1.1);
}

.navbar li {
  list-style: none;
  display: inline-block;
  align-items: left;
}

.navbar .profile-img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  object-fit: cover;

  transition: 0.3s;
}

.group-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

#hamburger-icon {
  display: block;
}

#hamburger-icon div {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .auth-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.auth-menu {
  display: none;
  position: absolute;
  background-color: #1c1c1c;

  top: 70px;
  left: 10%;
  transform: translateX(-50%);
  height: 100px;
  width: 150px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  padding: 20px;
}

.auth-menu li {
  margin-bottom: 10px;

  text-align: left;
}

.search-field {
  padding: 8px;
  border-radius: 25px;
  border: none;
  width: 720px;
  height: 47px;
}

.search-results {
  position: absolute;
  top: 100px;
  transform: translateX(0%);

  width: 720px;
  max-height: 400px;
  overflow-y: auto;

  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);

  z-index: 999;
}

.search-results-content {
  padding: 10px;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #121212;
}

footer {
  height: 200px;
  background-color: #1c1c1c;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 20px;

  padding: 0 40px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}

footer a:hover {
  color: #f19ca3;
}

.footer-images {
  display: flex;
  gap: 15px;
}

.footer-images img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer-images img:hover {
  transform: scale(1.2);
}
