.filter-buttons {
  width: 100%;
  padding: 0 30px;
  display: flex;
}

.currently-following-section h2 {
  padding: 0 30px;
}

.profile-hero {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  gap: 20px;
}

.profile-hero .username {
  font-size: 18px;
}

.profile-hero .logout-btn {
  background-color: #f19ca3;

  width: 130px;
  height: 50px;
  border: none;

  border-radius: 5px;

  font-weight: 600;
}

.filter-btn {
  background-color: #ffffff;
  color: #000000;

  width: 130px;
  height: 50px;
  border: none;
  border-radius: 5px;

  margin: 30px 5px;

  font-weight: 600;
}

.filter-btn.active {
  background-color: #f2b4b9;
  color: #ffffff;
}
